Variable				Value			Units			Descrition
total_mass				1.0				kg				# Total mass of the quadcopter
timestep				0.001			seconds			# Timestep to use for simulation
thrust_curve 			1.0*T  			equation		# Thrust from the prop vs throttle (N/throttle %)
torque_curve 			0.001*T		 	equation		# Torque back from the prop vs throttle (Nm/throttle %)
I_X						1.0				kg/m^2			# Moment of inertia about the X axis
I_Y						1.0				kg/m^2			# Moment of inertia about the Y axis
I_Z						1.0				kg/m^2			# Moment of inertia about the Z axis
arm_length				0.25			meters			# Length of the arms of the vehicle