Variable				Value			Units			Descrition
torque_response			torque.csv		filename		# Curve for the torque back from the prop with respect to throttle
total_mass				1.0				kg				# Total mass of the quadcopter
timestep				0.001			seconds			# Timestep to use for simulation
thrust.curve 			thrust.curve	filename		# Thrust from the prop vs throttle
torque.curve 			torque.curve 	filename		# Torque back from the prop vs throttle
I_X						1				kg/m^2			# Moment of inertia about the X axis
I_Y						1				kg/m^2			# Moment of inertia about the Y axis
I_Z						1				kg/m^2			# Moment of inertia about the Z axis
arm_length				0.25			meters			# Length of the arms of the vehicle